doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="description", content="Liste des dojos (TDD, BDD, refactoring legacy, concours de dev, ...) diffusés et animés par le WebCenter AXA.")
    title Dojos - AXA WebCenter
    style
      include:less style.less
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    .title-container
      h1
        img(src="https://avatars.githubusercontent.com/u/8037803")
        | Dojos
    .content-container
      ul
        each repo in repos
          li
            span.titre= repo.nomPropre
            span.tags
              each tag in repo.meta.tags
                span.tag= tag 
            span.description= repo.description
            a(href="#{repo.url}", title="Voir le dojo sur Github", target="_blank")
              i.fa.fa-github
            if repo.meta.languages
              span.languages
                | Langages :  
                each lang in repo.meta.languages
                  span.tag= lang
      footer
        a(href="http://axawebcenter.fr", title="Site du WebCenter d'AXA") Proposés par le WebCenter AXA